

<div class="container">
    <div class="panel  panel-default">


        <div class="panel-heading">Bolões</div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Bandeira</th>
                        <th></th>
                    </tr>
                </thead>

                <tr ng-repeat="clube in clubes| filter:filter">
                    <td>{{clube.idClube}}</td>
                    <td>{{clube.nome}}</td>
                    <td><img ng-src="{{baseUrlImages + '/'+clube.bandeira}}" style="height: 30px; width: 40px"/></td>                    
                    <td>
                        <a ng-click="edit(clube.idClube)" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            </table>
        </div>



    </div>

    <a ng-click="new()" class="btn btn-primary">Novo</a>
    Total: {{clubes.length}}
</div>



