

<div class="container">
    <div class="panel  panel-default">


        <div class="panel-heading">Campeonatos</div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>                        
                    </tr>
                </thead>

                <tr ng-repeat="campeonato in campeonatos| filter:filter">
                    <td>{{campeonato.idCampeonato}}</td>
                    <td>{{campeonato.descricao}}</td>                    
                    <td>
                        <a ng-click="edit(campeonato.idCampeonato)" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            </table>
        </div>



    </div>

    <a ng-click="new()" class="btn btn-primary">Novo</a>
    Total: {{campeonatos.length}}
</div>



