

<div class="widget">
    <div class="widget-header"><h3>Palpites</h3></div>

    <div class="widget-content">

        <div class="control-group" >
            <label class="control-label" for="selectBolao">Bolão</label>
            <div class="control">
                <select ng-change="selecionarBolao(usuarioBolao)" id="selectBolao" autofocus="true" class="form-control" ng-model="bolaoSelecionado" ng-options="usuarioBolao.bolao.descricao for usuarioBolao in usuarioBoloes track by bolao.idBolao">

                </select>
            </div>


        </div>


        <div class="tabbable">

            <ul class="nav nav-tabs" >
                <li ng-class="isRodadaAtual(rodada.numero) ? 'active' : ''" ng-repeat="rodada in rodadas">
                    <a ng-click="buscarApostas(rodada)">Rodada - {{rodada.numero}}</a>
                </li>
            </ul>





            <div class="widget-table">

                

                <div class="panel-body">
                    <table class="table table-striped table-hover">


                        <tr ng-repeat="aposta in apostas">
                            <td>{{aposta.partida.dataPartida| date:'dd/MM/yyyy HH:mm'}}</td>
                            <td align="right"><label for="inputPlacarMandante"  class="text-right">  {{aposta.partida.clubeMandante.nome}} </label> </td>
                            <td><img ng-src="{{baseUrlImages + '/' + aposta.partida.clubeMandante.bandeira}}"/></td>
                            <td align="right" style="text-align: right">
                                {{aposta.partida.placar.placarMandante}}
                                <input type="number"
                                       id="inputPlacarMandante" 
                                       min="0" max="99"
                                       ng-model="aposta.placar.placarMandante" 
                                       style="width: 70px;text-align: center;margin-bottom: 0px"
                                       number-mask=""
                                       ng-disabled="aposta.partida.partidaFinalizada"/>

                            </td>
                            <td style="text-align: center;font-size: 18px;width: 18px">X</td>
                            <td align="left" class="text-left" style="vertical-align: inherit">
                                <input type="number" 
                                       id="inputPlacarVisitante" 
                                       min="0" max="99"
                                       ng-model="aposta.placar.placarVisitante" 
                                       ng-disabled="aposta.partida.partidaFinalizada"
                                       number-mask=""
                                       style="width: 70px; text-align: center;margin-bottom: 0px"/>
                                {{aposta.partida.placar.placarVisitante}}
                            </td>
                            <td><img ng-src="{{baseUrlImages + '/' + aposta.partida.clubeVisitante.bandeira}}"/></td>
                            <td><label for="inputPlacarMandante">  {{aposta.partida.clubeVisitante.nome}} </label></td>
                            <td>{{aposta.pontuacao}}</td>
                        </tr>
                    </table>
                </div>
                
                <div class="form-actions">
                    <div><center> <a ng-click="salvar()" class="btn btn-primary center-block ">Salvar Palpites</a></center> </div>
                    
                </div>
                


            </div>

        </div>

    </div>

</div>