
<div class="container" style="width: 380pt">
    <div class="panel panel-default ">

        <div class="panel-body">
            
            <p ng-repeat="errs in errors" class="alert alert-danger"><strong>Erro</strong>: {{ errs}}</p>
            <form class="form-horizontal" id="formUsuario" name="form">

                <fieldset> 
                    <legend ng-show="!usuario.id">Participar</legend>

                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputEmail">E-Mail:</label>

                        <div class="col-lg-8">
                            <input autofocus="true" class="form-control" type="email" id="inputEmail" ng-model="usuario.email" required="true"/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputName">Nome:</label>

                        <div class="col-lg-8">
                            <input class="form-control" type="text" id="inputName" ng-model="usuario.nome" required="true"/>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputPassword">Senha:</label>

                        <div class="col-lg-8">
                            <input class="form-control" type="password" id="inputPassword" ng-model="usuario.senha" required="true"/>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputConfPassword">Confirmação:</label>

                        <div class="col-lg-8">
                            <input class="form-control" type="password" id="inputConfPassword" ng-model="usuario.confirmarSenha" match="usuario.senha" required="true"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-3">
                            <button ng-disabled="!form.$valid" ng-click="save()" class="btn btn-small btn-primary">Inscrever-se</button>
                        </div>
                    </div>


                </fieldset>
            </form>

        </div>    
    </div>
</div>





