

<div class="container" style="width: 800px" >
    <div class="panel panel-default">


        <div class="panel-heading text-center">Rodadas</div>

        <div class="panel-body">
            <ul class="list-inline" >
                <li ng-repeat="rodada in rodadas">
                    <a ng-click="getApostas(rodada)" ng-class="isRodadaAtual(rodada.numero) ? 'btn-primary' : 'btn-block'" class="btn">{{rodada.numero}}</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="panel  panel-default">


        <div class="panel-heading">Rodada: {{rodada.numero}} </div>
        <div class="panel-body">
            <p ng-repeat="message in messages" class="alert alert-success">{{message}}</p>
            <p ng-repeat="errs in errors" class="alert alert-danger"><strong>Erro</strong>: {{ errs}}</p>
            <table class="table table-striped table-hover">


                <tr ng-repeat="aposta in apostas">
                    <td style="vertical-align: inherit">{{aposta.partida.dataPartida| date:'dd/MM/yyyy HH:mm'}}</td>
                    <td style="vertical-align: inherit"><label for="inputPlacarMandante">  {{aposta.partida.clubeMandante.nome}} </label> </td>
                    <td style="vertical-align: inherit"><img ng-src="{{baseUrlImages + '/' + aposta.partida.clubeMandante.bandeira}}"/> </td>
                    <td class="text-right" style="vertical-align: inherit">
                        <input class="form-control text-right" type="text"  
                               id="inputPlacarMandante" 
                               ng-model="aposta.placar.placarMandante" 
                               style="width: 40px"
                               ng-disabled="aposta.partida.partidaFinalizada"/>

                    </td>
                    <td style="text-align: center;font-size: 30px;width: 30px">X</td>
                    <td align="left" class="text-left" style="vertical-align: inherit">
                        <input class="form-control" type="text" 
                               id="inputPlacarVisitante" 
                               ng-model="aposta.placar.placarVisitante" 
                               ng-disabled="aposta.partida.partidaFinalizada"
                               style="width: 40px"/>

                    </td>
                    <td style="vertical-align: inherit"><img ng-src="{{baseUrlImages + '/' + aposta.partida.clubeVisitante.bandeira}}" /> </td>
                    <td style="vertical-align: inherit">{{aposta.partida.clubeVisitante.nome}}</td>
                </tr>
            </table>
        </div>
        <div class="panel-footer"><a ng-click="salvar()" class="btn btn-primary center-block ">Salvar Palpites</a></div>


    </div>

</div>