

<div class="container" style="width: 500px" >
    <div class="panel panel-default">

        <div class="panel-heading text-center">Rodada</div>

        <div class="panel-body">

            <div class="row">

                <div class="col-md-4 text-right">Santos</div>
                <div class="col-md-4 text-center">
                    <input type="text" style="width: 40px;margin-right: 10px" />X<input type="text" style="width: 40px;margin-left: 10px" /> 
                </div>
                <div class="col-md-4 text-left">Coritiba</div>

            </div>
        </div>

    </div>


</div>