

<div class="container">
    <div class="panel  panel-default">


        <div class="panel-heading">Usuários</div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Login</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Data Cadastro</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tr ng-repeat="user in users| filter:filter">
                    <td>{{user.idUser}}</td>
                    <td>{{user.login}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.dateInsert| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>
                        <a ng-click="editUser(user.idUser)" class="btn btn-primary">Editar</a>
                        <a ng-click="deleteUser(user.idUser)" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            </table>
        </div>



    </div>

    <a ng-click="newUser()" class="btn btn-primary">Novo</a>
    Total: {{users.length}}
</div>



