
<div id="content-header">
    <h1>Dashboard</h1>
    <div class="btn-group">
        <a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
        <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
    </div>
</div>
<div id="breadcrumb">
    <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="#" class="current">Dashboard</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="span9">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th"></i>
                    </span>
                    <h5>Usuários</h5>
                    <!--<input type="text" id="inpuFilter" ng-model="filter"/>-->
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Login</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Data Cadastro</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    
                    <tr ng-repeat="user in users | filter:filter">
                        <td>{{user.idUser}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.dateInsert | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>
                            <a ng-click="editUser(user.idUser)" class="btn btn-primary">Editar</a>
                            <a ng-click="deleteUser(user.idUser)" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                </table>
            </div>

            <a ng-click="newUser()" class="btn btn-primary">Novo</a>
            Total: {{users.length}}
        </div>
    </div>




</div>


