<!DOCTYPE html>
<html lang="en" ng-app="bolao">
    <head>
        <title>Bolão</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />


        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/ng-quick-date-plus-default-theme.css" media="all" />

    </head>
    <body ng-controller="LoginCtrl">

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Bolão</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">

                    <ul class="nav navbar-nav">
                        <li ng-show="isUsuarioLogado()"><a href="#/aposta-list">Palpites</a></li>
                        <li ng-show="isUsuarioLogado()"><a ng-click="toViewScore()">Pontuação</a></li>
                        <li class="dropdown" ng-show="isAdm()">
                            <a id="menuAdm" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Administrador
                                <span class="caret"></span>
                            </a>
                            <ul id="menu" class="dropdown-menu" aria-labelledby="menuAdm">
                                <li><a href="#/bolao-list" >Bolões</a></li>
                                <li><a href="#/usuariobolao-list">Usuário/Bolão</a></li>
                                <li><a href="#/campeonato-list">Campeonatos</a></li>
                                <li><a href="#/rodada-list">Rodadas</a></li>
                                <li><a href="#/clube-list">Clubes</a></li>
                                <li><a href="#/partida-list">Partidas</a></li>
                                <li><a href="#/usuario-list">Usuários</a></li>
                                <li><a href="#/aposta-list">Apostas</a></li>
                            </ul>

                        </li> 
                       

                    </ul>


                    <ul class="nav navbar-nav navbar-right">

                        <li ng-show="isUsuarioLogado()" class="navbar-text">Bem vindo {{sessaoUsuario.usuario.nome}}</li>
                        <li ng-show="!isUsuarioLogado()"><a href="#" ng-click="entrar()" data-toggle="modal" data-target="#loginModal">Entrar</a></li>
                        <li ng-show="isUsuarioLogado()"><a href="#" ng-click="logout()">Sair</a></li>

                    </ul>

                </div>
            </div>            
        </div>
		
		<!-- Set the display duration in milli-secs.  Default is 5000, 0 disables the fade-away. -->
		<div flash-alert active-class="in" class="alert fade" duration="10000" style="margin-top:60px;margin-botton:0px">
		    <!-- Manually hide the alert with `hide()` -->
		    <button type="button" class="close" ng-click="hide()">&times;</button>		    
		    <span class="alert-message">{{flash.message}}</span>
		</div>
	

		<div id="content" ng-view class="container-fluid"  >    
        
        </div>

        <!--login modal-->
        <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width: 330pt">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h1 class="text-center">Entrar</h1>
                    </div>
                    
                    <p ng-repeat="errs in errorsLogin" class="alert alert-danger"><strong>Erro</strong>: {{ errs}}</p>
                    
                    <div class="modal-body">

                        <form class="form center-block" name="formLogin">
                            <div class="form-group">
                                <input focus-me ng-model="usuario.email" class="form-control input-lg" placeholder="Email" type="text">
                            </div>
                            <div class="form-group">
                                <input ng-model="usuario.senha" class="form-control input-lg" placeholder="Senha" type="password">
                            </div>

                            <div class="modal-footer">
                                <button ng-click="login()" class="btn btn-primary btn-lg btn-block" >Entrar</button>                                
                            </div>

                        </form>
                    </div>



                </div>
            </div>
        </div>
        
        <!-- include javascript, jQuery FIRST -->
        <script type="text/javascript" src="lib/jquery.min.js"></script>        
        <script type="text/javascript" src="lib/bootstrap.min.js"></script>  
        <script type="text/javascript" src="lib/angular/angular.js"></script>
        <script type="text/javascript" src="lib/angular/angular-route.js"></script>
        <script type="text/javascript" src="lib/angular/angular-resource.js"></script>
        <script type="text/javascript" src="lib/angular/angular-cookies.js"></script>
        <script type="text/javascript" src="lib/underscore-min.js"></script>
        <script type="text/javascript" src="lib/underscore.string.min.js"></script>
        <script type="text/javascript" src="lib/angular-underscore.min.js"></script>
        <script type="text/javascript" src="lib/restangular.min.js"></script>
        <script type="text/javascript" src="lib/ng-quick-date.js"></script>
    	<script type="text/javascript" src="lib/jquery.numeric.js"></script>    	
    	<script type="text/javascript" src="lib/angular-flash.min.js"></script>

        <script type="text/javascript" src="js/app.js"></script>
        

        <script type="text/javascript" src="js/controllers/campeonatoController.js"></script>
        <script type="text/javascript" src="js/controllers/apostaController.js"></script>
        <script type="text/javascript" src="js/controllers/usuarioController.js"></script>
        <script type="text/javascript" src="js/controllers/bolaoController.js"></script>
        <script type="text/javascript" src="js/controllers/clubeController.js"></script>
        <script type="text/javascript" src="js/controllers/rodadaController.js"></script>
        <script type="text/javascript" src="js/controllers/partidaController.js"></script>
        <script type="text/javascript" src="js/controllers/rankingController.js"></script>
        <script type="text/javascript" src="js/controllers/usuarioBolaoController.js"></script>
        <script type="text/javascript" src="js/services/services.js"></script>
    
        
    </body>
</html>
