

<div class="container">
    <div class="panel  panel-default">


        <div class="panel-heading">Ranking Rodada - {{rankingRodada.numero}}</div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>

                <tr ng-repeat="usuario in rankingRodada.usuarios">
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.pontuacao}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>



